## Lasso Regression

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('College_marks.csv')

In [3]:
dataset

,marks,name,college_id,duration,time studied before exam,time spent in cafe,semester
0,40,Jack,1,2,10,100,1
1,50,Eric,1,4,20,200,2
2,5,Donald,1,2,5,400,3
3,50,James,1,2,10,10,1
4,60,Harry,1,4,20,100,2

In [30]:
dataset.corr()

,marks,college_id,duration,time studied before exam,time spent in cafe,semester
marks,1.000000,NaN,0.599145,0.803685,-0.842077,-0.616365
college_id,NaN,NaN,NaN,NaN,NaN,NaN
duration,0.599145,NaN,1.000000,0.952579,-0.073488,0.218218
time studied before exam,0.803685,NaN,0.952579,1.000000,-0.357518,-0.089087
time spent in cafe,-0.842077,NaN,-0.073488,-0.357518,1.000000,0.906061
semester,-0.616365,NaN,0.218218,-0.089087,0.906061,1.000000

In [5]:
y=dataset['marks']

In [6]:
y

0    40
1    50
2     5
3    50
4    60
Name: marks, dtype: int64

In [7]:
X=dataset[['college_id','duration','time studied before exam','time spent in cafe','semester']]

In [8]:
X

,college_id,duration,time studied before exam,time spent in cafe,semester
0,1,2,10,100,1
1,1,4,20,200,2
2,1,2,5,400,3
3,1,2,10,10,1
4,1,4,20,100,2

In [9]:
from sklearn.linear_model import Lasso #Lasso-Function to automaitically find imp features

In [13]:
from sklearn.feature_selection import SelectFromModel #We need a model so we can put some data in Lasso(which will tell which feature is imp)

In [15]:
mind=SelectFromModel(estimator=Lasso())

In [16]:
mind.fit(X,y)

SelectFromModel(estimator=Lasso())

In [17]:
mind.get_support()

array([False, False,  True,  True, False])

## Conclude from above that Lasso isn't working correctly:
* In Machine Learning it is a mandate that we provide good amount of data so that model can find the weights
* Here, we haven't provided enough data so Lasso is also not able to find some relation b/w the features and the target.

In [31]:
perfectmind=SelectFromModel(Lasso(alpha=0.01)) #alpha=1(default) also known as hyperparameter, as we have less data so we are setting it to 0.01

In [32]:
perfectmind.fit(X,y)

C:\Users\sande\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.35786350770525455, tolerance: 0.182
  model = cd_fast.enet_coordinate_descent(

SelectFromModel(estimator=Lasso(alpha=0.01))

In [33]:
perfectmind.get_support()

array([False,  True,  True,  True,  True])

**Yeah,now it looks good ,as we use Lasso on continuous data, so it is also known as `Lasso Regression`.**

## *Motto of `Lasso Regression`*

1. Feature Regression
2. L1 Regularization(To solve Overfitting)

*As `college_id` is not helpful in anyway to build our model so we can eliminate it*

In [35]:
X=dataset[['duration','time studied before exam','time spent in cafe','semester']]

**So now after doing the feature selection(Preproccesing), we can build our model i.e.`Linear Regression`**

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model=LinearRegression()

In [39]:
model.fit(X,y)

LinearRegression()

In [41]:
X

   duration  time studied before exam  time spent in cafe  semester
0         2                        10                 100         1
1         4                        20                 200         2
2         2                         5                 400         3
3         2                        10                  10         1
4         4                        20                 100         2

In [40]:
model.coef_

array([ 1.07298633,  1.57749346, -0.10497238,  2.05146845])

* **Time Spent in Cafe** will impact negatively on Marks

In [43]:
model.predict([[3,20,100,1]])

array([57.124164])

In [44]:
model.predict([[5,35,5,2]])

array([94.95638267])